body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal;
}

#main-container {
    width: 1140px;
    margin: 195px auto 10px;
    position: relative;
    height: 100%;
    display: block;
}

#footer {
    width: 1140px;
    margin: 195px auto 10px;
    position: relative;
    height: 100%;
    display: block;
}

.hidden {
    display: none;
}

.form-row {
    clear: both;
    width: 800px;
    height: 75px;
}

.home-1x {
    width: 100px;
}

.home-2x {
    width: 150px;
}

.home-3x {
    width: 200px;
}

.home-4x {
    width: 310px;
}

.home-5x {
    width: 600px;
}

.home-1x, .home-2x, .home-3x,
.home-4x, homne-5x {
    float: left;
    margin-right: 10px;
}

.button {
    border-color: #009fee;
    border-radius: 25px;
    background-color: #009fee;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-style: solid;
    margin: 15px;
}

#query-input {
    width: 300px;
}

#submit {

}

@media (max-width: 750px) {
    body {
        transform-origin: top left;
        font-size: 22px;
    }

    #main-container {
        width: 600px;
        margin: 0 auto !important;
        padding: 20px;
        overflow-x: hidden;
    }
}